
.privacy {
	max-width: 964px;
	width: 100%;
	background: #ffffff;
	padding: 20px;
	border-radius: 10px;
	margin-top: 100px;
	color: #333;
  }
  
  .privacy-title {
	text-align: center;
	font-size: 34px;
	color: #000000;
	margin-bottom: 15px;
  }
  
  .privacy h2 {
	font-size: 20px;
	color: #000000;
	margin-top: 20px;
  }
  
  .privacy h3 {
	font-size: 18px;
	color: #000000;
	margin-top: 15px;
  }
  
  .privacy p {
	font-size: 16px;
	line-height: 1.6;
	color: #444;
	margin-bottom: 10px;
  }
  
  .privacy ul {
	padding-left: 20px;
  }
  
  .privacy ul li {
	margin-bottom: 8px;
	font-size: 16px;
  }
  
  @media (max-width: 600px) {
	.privacy {
	  padding: 15px;
	}
  
	.privacy-title {
	  font-size: 22px;
	}
  
	.privacy h2 {
	  font-size: 18px;
	}
  
	.privacy h3 {
	  font-size: 16px;
	}
  
	.privacy p,
	.privacy ul li {
	  font-size: 14px;
	}
  }