.privacy{
	margin-top: 100px;
}
.privacy-title {
	text-align: center;
	font-size: 48px;
	font-weight: bold;
}

.privacy h2 {
	font-size: 20px;
	margin: 22px 0;
}

.privacy p {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 15px;
}



@media(max-width: 830px) {
	.privacy-title {
		text-align: center;
		font-size: 34px;
		font-weight: bold;
	}
}

@media (max-width: 610px) {
	.privacy-title {
		text-align: center;
		font-size: 24px;
		font-weight: bold;
	}

	.privacy h2 {
		font-size: 16px;
		margin: 19px 0;
	}

	.privacy p {
		font-size: 16px;
		line-height: 1.6;
		margin-bottom: 19px;
	}
}