* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


.global_container {
  max-width: 964px;
  width: 100%;
  margin: 0 auto;
}


.btn_mission {
  padding: 11px 20px;
  background-color: #485BFF;
  border-radius: 24px;
  font-size: 14px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

@media (max-width: 1020px) {
  .global_container {
    padding: 0px 44px;
  }
}

@media(max-width:510px) {
  .global_container {
    padding: 0 18px;
  }
}