.footer_block {
	position: relative;
}

.footer_img {
	width: 100%;
}

.footer_img img {
	width: 100%;
	height: 346px;
}



.footer_ques {
	position: absolute;
	width: 100%;
	height: 262px;
	background-color: #D0FFC0;
	border-radius: 31px;
	margin-top: -40px;
	padding: 59px 0 59px 57px;
	display: flex;
}


.footer_title-absolute {
	max-width: 482px;
	width: 482px;
	position: relative;
}

.footer_title-absolute .first {
	width: 73px;
	height: 49px;
	position: absolute;
	z-index: 0;
	top: 13px;
	left: -17px;
}

.footer_title-absolute .second {
	width: 25px;
	height: 29px;
	position: absolute;
	z-index: 0;
	right: 0;
	top: 5px;
}

.footer_title-absolute .third {
	width: 91px;
	height: 7px;
	position: absolute;
	z-index: 0;
	top: 50px;
	left: 50%;
}

.footer_title-absolute h4 {
	font-size: 32px;
	position: absolute;
	z-index: inherit;
	top: 18px;
}

.footer_title-absolute h4 span {
	color: #FFFFFF;
}

.footer_left {
	width: 60%;


}

.footer_right {
	width: 30%;
	height: auto;
	margin-right: -100px;

}

.footer_right img {
	max-width: 281px;
	width: 100%;
	height: 230px;
	margin-top: -27px;
}

.play,
.store {
	width: 176px;
	height: 50px;
	margin-top: 80px;
}

.store-img {
	margin-left: -20px;
}

@media(max-width: 962px) {

	.footer_title-absolute .first {
		width: 73px;
		height: 49px;
		position: absolute;
		z-index: 0;
		top: -45px;
		left: -17px;
	}

	.footer_title-absolute .second {
		width: 25px;
		height: 29px;
		position: absolute;
		z-index: 0;
		right: -10px;
		top: -50px;
	}

	.footer_title-absolute .third {
		width: 91px;
		height: 7px;
		position: absolute;
		z-index: 0;
		top: -6px;
		left: 50%;
	}



	.footer_title-absolute h4 {
		font-size: 32px;
		position: absolute;
		z-index: inherit;
		top: -40px;
	}

	.store-img {
		margin-top: -54px;
		width: 359px;
		margin-left: -20px;
	}

	.footer_right img {
		max-width: 243px;
		width: 100%;
		height: 171px;
		margin-top: 33px;
	}
}


@media(max-width: 750px) {
	.footer_title-absolute h4 {
		font-size: 25px;
		position: absolute;
		z-index: inherit;
		top: -30px;
	}

	.footer_title-absolute {
		max-width: 372px;
		width: 372px;
		position: relative;
	}

	.footer_title-absolute .second {
		width: 25px;
		height: 29px;
		position: absolute;
		z-index: 0;
		right: -10px;
		top: -44px;
	}

	.footer_title-absolute .first {
		width: 59px;
		height: 59px;
		position: absolute;
		z-index: 0;
		top: -45px;
		left: -17px;
	}

	.footer_title-absolute .third {
		width: 91px;
		height: 7px;
		position: absolute;
		z-index: 0;
		top: -2px;
		left: 45%;
	}

	.play {
		width: 145px;
		height: 45px;
		margin-top: 80px;
		margin-right: 16px;
	}

	.store {
		width: 145px;
		height: 45px;
		margin-top: 80px;
	}

	.footer_ques {
		position: absolute;
		width: 100%;
		height: 262px;
		background-color: #D0FFC0;
		border-radius: 31px;
		margin-top: -40px;
		padding: 59px 0 59px 35px;
		display: flex;
	}

	.footer_right {
		width: 35%;
		height: auto;
		margin-right: -100px;
	}
}


@media(max-width: 660px) {
	.footer_right {
		display: none;
	}

	.footer_ques {
		justify-content: center;
		height: 194px;
		padding: 60px 0;
	}

	.footer_title-absolute {
		max-width: 299px;
		width: 299px;
		text-align: center;
	}

	.footer_title-absolute .second {
		width: 25px;
		height: 29px;
		position: absolute;
		z-index: 0;
		right: -20px;
		top: -40px;

	}

	.play {
		width: 164px;
		height: 52px;
		margin-top: 97px;
	}

	.store {
		width: 164px;
		height: 52px;
		margin-top: 97px;
	}


}

@media(max-width: 610px) {
	.footer_title-absolute {
		position: absolute;
		right: 18%;
	}

	.store-img {
		position: absolute;
		right: 8%;
		margin: -54px auto;

	}

}

@media(max-width: 560px) {
	.footer_title-absolute h4 {
		font-size: 21px;
		position: absolute;
		z-index: inherit;
		top: -30px;
	}

	.footer_title-absolute .first {
		width: 54px;
		height: 54px;
		position: absolute;
		z-index: 0;
		top: -46px;
		left: 7px;
	}

	.footer_title-absolute .second {
		width: 20px;
		height: 24px;
		position: absolute;
		z-index: 0;
		right: 0px;
		top: -40px;
	}

	.footer_title-absolute .third {
		width: 91px;
		height: 7px;
		position: absolute;
		z-index: 0;
		top: -9px;
		left: 52%;
	}
}


@media(max-width: 490px) {

	.footer_block {
		position: relative;
		margin: 75px auto 0;
	}

	.footer_img {
		width: 100%;
		display: none;
	}


}


@media(max-width: 440px){
	
}